DASHSCOPE_BASE_URL=https://coding.dashscope.aliyuncs.com/v1
DASHSCOPE_API_KEY=sk-sp-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DASHSCOPE_API=openai-completions
DASHSCOPE_MODEL_ID=qwen3.5-plus
DASHSCOPE_MODEL_NAME=qwen3.5-plus
DASHSCOPE_MODEL_REASONING=false
